<!DOCTYPE html>
<html lang="zh-CN" ng-app="online">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Seal">
  <title>学生在线</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="NavController as nc">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-brand">
        <a class="s-left-btn" href="" ng-click="nc.toggleMenu()"><span class="glyphicon glyphicon-menu-hamburger">&nbsp;</span></a>
        <a class="" href="" ui-sref="home">学生在线</a>
      </div>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <form class="navbar-form navbar-right">
        <div class="form-group">
          <input type="text" placeholder="学号" class="form-control">
        </div>
        <div class="form-group">
          <input type="password" placeholder="密码" class="form-control">
        </div>
        <button type="submit" class="btn btn-success">登录</button>
      </form>
    </div><!--/.navbar-collapse -->
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="s-left-nav">
      <img src="img/left-nav.svg">
      <ul class="nav nav-pills nav-stacked" ng-controller="RouterController as rc">
        <li ng-repeat="route in rc.routes" ui-sref-active="active"><a ui-sref="{{route.state}}" href="">{{route.name}}</a></li>
      </ul>
    </div>
    <div class="s-right-content">
      <div ui-view></div>
    </div>
  </div>

  <hr>
  <footer>
    <p>&copy; 学生在线 2015</p>
  </footer>
</div>


<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="js/app.js"></script>
<script src="js/app.config.js"></script>
<script src="components/common/router.controller.js"></script>
<script src="components/common/nav.controller.js"></script>
<script src="components/common/user.service.js"></script>
<script src="components/info/info.controller.js"></script>
</body>
</html>
