body {
  padding-top: 50px;
}

.s-left-nav {
  display: none;
}

.s-left-btn {
  display: inline-block;
}

.s-right-content {
  margin-left: 0px;
  min-height: 900px;
  padding: 15px;
}

@media (min-width: 768px) {
  .s-left-nav {
    display: block;
    float: left;
    width: 200px;
  }

  .s-left-btn {
    display: none;
  }

  .s-right-content {
    margin-left: 200px;
  }
}
