<div class="slide" ui-view="">
  <div class="container">
    <form class="form-horizontal">
      <fieldset>
        <legend>基本信息</legend>
        <div class="form-group">
          <label for="name" class="col-sm-1 control-label">姓名</label>
          <div class="col-sm-2">
            <p id="name" class="form-control-static">张琳</p>
          </div>
          <label for="gender" class="col-sm-1 control-label">性别</label>
          <div class="col-sm-2">
            <p id="gender" class="form-control-static">男</p>
          </div>
          <label for="birthday" class="col-sm-1 control-label">生日</label>
          <div class="col-sm-2">
            <p id="birthday" class="form-control-static">10-14</p>
          </div>
        </div>
        <div class="form-group">
          <label for="id" class="col-sm-1 control-label">学号</label>
          <div class="col-sm-2">
            <p id="id" class="form-control-static">201200301312</p>
          </div>
          <label for="campus" class="col-sm-1 control-label">校区</label>
          <div class="col-sm-2">
            <p id="campus" class="form-control-static">软件园校区</p>
          </div>
          <label for="email" class="col-sm-1 control-label">邮箱</label>
          <div class="col-sm-2">
            <p id="email" class="form-control-static">sealday@gmail.com</p>
          </div>
        </div>
        <div class="form-group">
          <label for="phone" class="col-sm-1 control-label">联系<br>方式</label>
          <div class="col-sm-2">
            <p id="phone" class="form-control-static">18366116016</p>
          </div>
        </div>
      </fieldset>
      <fieldset>
        <legend>在职信息</legend>
        <div class="form-group">
          <label for="post" class="col-sm-1 control-label">职位</label>
          <div class="col-sm-2">
            <p id="post" class="form-control-static">离职人员</p>
          </div>
          <label for="join-date" class="col-sm-1 control-label">入站<br>时间</label>
          <div class="col-sm-2">
            <p id="join-date" class="form-control-static">2012-10-01</p>
          </div>
          <label for="old-part" class="col-sm-1 control-label">原校区<br>部门</label>
          <div class="col-sm-2">
            <p id="old-part" class="form-control-static">娃娃部</p>
          </div>
        </div>
      </fieldset>
      <a class="btn btn-default" ui-sref="info.edit">修改</a>
    </form>
  </div>
</div>
